[id^='layout-base'] .suda-header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
[id^='layout-base'] .suda-sider {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
[id^='layout-base'] .suda-content {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
[id^='layout-base'] .suda-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
